table {
    width: 100%;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: 50vh;
}
.jumbotron{
    background-image: url("../img/covid-img.jpeg");
    background-size: cover;
}
.total-case{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: skyblue;
}
.total-new-case{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: skyblue;
}